@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$color-primary: white;
$color-secundary: yellow;

$color-gradient-primary: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
$color-gradient-secundary: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);


body{
    margin: 0;
    padding: 0;
}

.container-comic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: $color-gradient-primary;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;

    .comic{
        width: 850px;
        height: 500px;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        position: relative;
        filter: drop-shadow(4px 4px 16px black);
        
        &__title{
            text-align: center;
            padding: 5px;

            &--inactive{
                display: none;
            }
        }
        
        &__img{
            width: 68%;
            height: 76%;
            object-fit: contain;
            margin-left: 100px;
            position: absolute;
        }
        
        &__star{
            font-size: 2rem;
            cursor: pointer;

            &:hover{
                color: $color-secundary;
                font-size: 2.2rem;
            }

            &--checked{
                color:$color-secundary;
                font-size: 2.2rem;

                &:hover{
                    opacity: 0.3;
                    font-size: 2rem;
                }
            }
        }
        
        &__info{
            width: 300px;
            height: 250px;
            display: flex;
            color: $color-primary;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: $color-gradient-secundary;
            box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
            border-radius: 20px;
            transform: translateX(-80px);
            overflow: hidden;
            position: relative;
            left: -40.2%;
        }

        &__button{
            position: relative;
            top: -280px;
            right: -424.7px;
            background-image: $color-gradient-secundary;
            height: 60px;
            width: 110px;
            border: 2px solid $color-primary;
            border-radius: 19px;
            color: $color-primary;
            text-align: center;
            font-size: 1.5rem;
            cursor: pointer;

            &:hover{
                filter: drop-shadow(2px 4px 6px black);
            }

            &--inactive{
                opacity: 0;
                cursor: default;
                pointer-events: none;
            }
        }
    }
}


